-e git+https://github.com/libgit2/pygit2.git#egg=pygit2-dev
-e git://github.com/timtadh/tst.git#egg=tst-dev
-e git://github.com/timtadh/betterast.git#egg=betterast
-e git://github.com/timtadh/zhang-shasha.git#egg=zss
-e hg+https://code.google.com/p/py-editdist/#egg=editdist
-e git+https://github.com/timtadh/PyGram.git#egg=pygram
-e git+https://github.com/timtadh/pyflwor.git#egg=pyflwor
numpy
scikit-learn
scipy
matplotlib
